.leaflet-map {
  padding: 100px 10%;
  background-color: white;

  @media (max-width: 768px) {
    padding: 50px 3% 0;
  }
}

.map-wrapper {
  // max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.leaflet-container {
  width: 100%;
  position: relative;
  z-index: 1;
}

.map-title {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.9);
  padding: 22px;
  border-radius: 12px;
  text-align: center;

  h2 {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    color: #114734;
    font-family: montserrat;
  }

  h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 6px 0 0;
    color: #114734;
    font-family: montserrat;
  }

  @media (max-width: 768px) {
    top: 10px;
    right: 10px;
    padding: 10px 12px;

    h2 {
      font-size: 15px;
    }

    h3 {
      font-size: 13px;
    }
  }
}

.map {
  height: 600px;
  width: 80%;
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 12px;

  @media (max-width: 768px) {
    width: 100%;
    height: 40vh;
    min-height: 320px;
  }
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-control-zoom,
.leaflet-top {
  z-index: 1 !important;
}

.leaflet-popup-content {
  font-size: 14px;
  max-width: 150px;
  text-align: center;
  font-family: "Raleway", sans-serif;

  button {
    margin-top: 8px;
    background-color: #114734;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}
