.reviews-carousel {
	position: relative;
	padding: 20px 0;

	.section-title {
		font-size: 2.5rem;
		font-weight: bold;
		text-align: center;
		margin-bottom: 30px;
		color: white;
	}

	.text-under-title {
		font-size: 2rem;

		text-align: center;
		margin-bottom: 30px;
		color: white;
	}

	.header-section {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;

		.filter-buttons {
			.btn {
				font-size: 14px;
				font-weight: bold;
				padding: 5px 10px;
				transition: all 0.3s ease;
				cursor: pointer;

				&.btn-primary {
					background-color: white; // Жёлтый цвет для активной кнопки
					color: var(--accent-color);
					border: none;

					&:hover {
						background-color: white;
					}
				}

				&.btn-outline-primary {
					border: 1px solid white;
					color: white;

					&:hover {
						background-color: white;
						color: var(--accent-color);
					}
				}
			}
		}
	}

	.review-card {
		color: white;
		min-height: 230px;
		background: var(--accent-color);
		border-radius: 10px;
		padding: 15px;
		margin: 10px;

		.review-header {
			display: flex;
			align-items: center;
			margin-bottom: 10px;

			.badge {
				width: 35px;
				height: 35px;
				font-size: 18px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
			}

			h5 {
				font-size: 1.3rem;
				font-weight: bold;
				margin: 0;
			}

			small {
				font-size: 16px;
				color: white;
			}
			img {
				margin-right: 10px;
			}
		}

		.rating {
			color: gold;
			font-size: 18px;
			margin-bottom: 10px;
		}

		p {
			font-size: 1rem;
			line-height: 1.5;
		}

		.btn-link {
			color: gold;
			font-weight: bold;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
