@import 'tailwindcss';

:root {
	/* --background: #ffffff; */
	--background: #f6f3ed;
	--foreground: #ffffff;
	--accent-color: #004530;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-montserrat), sans-serif;
}
.iphoneSe-hidden {
	@media (max-height: 667px) {
		display: none;
	}
}
